@page "/canvas"

@using Blazor.Extensions

@inherits CanvasComponent

<div>
    <h3>Real Time Dashboard</h3>
</div>

<div class="container">
    <div class="row">
    @{int i = 0;}
    @foreach (var item in _dashboardData)
    {
            <div class="col text-center">
                <BECanvas Width="250" Height="200" @ref="_canvasReference"></BECanvas>
            </div>
        i++;
    }
    </div>
</div>